:root {
    /* Universal Light-Dark_modes colors */
    --just--blue: #1565C0;
    --just--gray: #F1F3F6;

    /* Light mode colors */
    --light_mode--black: #333632;

    /* Dark mode colors */
    --dark_mode--black: #141518;

    /* Colors with __opacity */
    --just--blue__fortyPercent: #1565c066;

    --dark_mode--black__tenPercent: #1415181a;
    --dark_mode--black__fortyPercent: #14151866;

    --light_mode--shadow__fortyPercent: #3754AA66;
    --light_mode--shadow__tenPercent: #3754AA1a;
}

/* for calculator background */
.light--calculator {
    background-color: var(--just--gray);
}
.dark--calculator {
    background-image: linear-gradient(to bottom, #1A1B1F, #17181C);
}

/* for mode switcher */
.light--switcher {
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px var(--light_mode--shadow__fortyPercent));
}
.dark--switcher {
    filter: drop-shadow(5px 5px 10px #000000) drop-shadow(-5px -5px 10px var(--dark_mode--black__fortyPercent));
}

/* for display area */
.dark--outer-display {
    background-color: var(--dark_mode--black);
    filter: drop-shadow(5px 5px 10px #000000) drop-shadow(-5px -5px 10px var(--dark_mode--black__tenPercent));
}
.light--outer-display {
    background-color: var(--just--gray);
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px var(--light_mode--shadow__tenPercent));
}

.dark--inner-display {
    background-color: #202226;
    color: var(--just--gray);
}
.light--inner-display {
    background-color: var(--just--gray);
    color: #000000;
}

/* Operands buttons */
.dark--operand {
    color: var(--just--gray);
    background-color: var(--dark_mode--black);
    filter: drop-shadow(5px 5px 10px #000000) drop-shadow(-5px -5px 10px var(--dark_mode--black));
}
.dark--operand:hover {
    cursor: pointer;
    background-color: #202226;
}
.dark--operand:active {
    background-color: #202226af;
}

.light--operand {
    color: var(--light_mode--black);
    background-color: var(--just--gray);
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px var(--light_mode--shadow__tenPercent));
}
.light--operand:hover {
    cursor: pointer;
    background-color: #d1dde59a;
}
.light--operand:active {
    background-color: #D1DDE5;
}
/* Operators buttons */
.dark--operator-wrapper {
    background-color: var(--dark_mode--black);
    filter: drop-shadow(5px 5px 10px #000000) drop-shadow(-5px -5px 10px var(--dark_mode--black));
}
.light--operator-wrapper {
    background-color: var(--just--gray);
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px var(--light_mode--shadow__tenPercent));
}

.dark--operator {
    background-color: var(--dark_mode--black);
}
.dark--operator:hover {
    cursor: pointer;
    background-color: #202226;
}
.dark--operator:active {
    background-color: #06255f;
    color: var(--just--gray);
}

.light--operator {
    background-color: var(--just--gray);
}
.light--operator:hover {
    cursor: pointer;
    background-color: #d1dde59a;
}
.light--operator:active {
    background-color: #87c8f7;
    color: var(--just--gray);
}

/* The Equal '=' button */
.dark--equal-wrapper {
    background-color: var(--dark_mode--black);
    filter: drop-shadow(5px 5px 10px #000000) drop-shadow(-5px -5px 10px var(--dark_mode--black)); 
}
.light--equal-wrapper {
    background-color: var(--just--gray);
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px var(--just--blue__fortyPercent));

}

.equal:hover{
    cursor: pointer;
    background-color: #1e88e5;
}
.equal:active{
    background-color: #0d47a1;
}