html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-shadow: inherit;
}
:root {
    --light_mode--gray: #F1F3F6;
    --light_mode--black: #333632;
    --light_mode--shadow: #3754AA;
    --just--blue: #1565C0;
}