html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-shadow: inherit;
}
:root {
    --light_mode--gray: #F1F3F6;
    --light_mode--black: #333632;
    --light_mode--shadow: #3754AA;
    --just--blue: #1565C0;
}
/* External Fonts */
@font-face {
    font-family: 'Digital Numbers';
    src: url(./fonts/Digital-Numbers/DigitalNumbers-Regular.ttf);
}
/* calculator general styling */
.calculator {
    width: 375px;
    height: 667px;
    background-color: var(--light_mode--gray);
    padding: 24px 20px;
}
/* center the calculator horizontally and vertically */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D1DDE5;
}

/* mode area */
.mode img {
    width: 30px;
    display: block;
    margin-left: auto;
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px #3754aa66);
}
/* Display area */
.display {
    height: 116px;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--light_mode--gray); /*should be removed later*/
    filter: drop-shadow(-5px -5px 10px #FFFFFF) drop-shadow(5px 5px 10px #3754a91a);
    margin: 11px auto 67px;

    display: flex;
}
.show {
    flex: 1;
    border-radius: 10px;
    border: 2px solid var(--just--blue);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 44px;
    padding-right: 44px;
    font-size: 36px;
    font-family: 'Digital Numbers';
}
/* Control Area */
.control {
    height: 394px;
}